.new.registration
  .row
    .large-4.large-centered.small-12.columns
      %h1 Welcome aboard

      =form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
        =devise_error_messages!

        %div
          =f.label :email
          =f.email_field :email, :autofocus => true
        %div
          =f.label :password
          =f.password_field :password
        %div
          =f.label :password_confirmation
          =f.password_field :password_confirmation

        .form-actions= f.submit "Join!", class: 'button'

      =render "devise/shared/links"

