%footer
  &copy; <a href="http://downshiftlabs.com" target="_blank" rel="nofollow" title="Like what you see? Holler at us.">DownshiftLabs, LLC</a> 2012-2013.<br/>
  Be excellent to each other. <br/>
  Proudly hosted with our friends at <a href="https://www.digitalocean.com/?refcode=9984e89381c3">Digital Ocean</a> <3.
