<div class="row">
  <div class="small-12 columns">
    <h1>Contributions and Credits</h1>
    Motorcycle designed by <a href="http://www.thenounproject.com/Jose Hernandez">José Hernandez</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Car Door designed by <a href="http://www.thenounproject.com/michadecker">Michael Decker</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Steering Wheel designed by <a href="http://www.thenounproject.com/fx.pedron">Fx Pedron</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Disc Brake designed by <a href="http://www.thenounproject.com/alexandr.cherkinsky">Alexandr Cherkinsky</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Wheel designed by <a href="http://www.thenounproject.com/Vesselin Andreev">Veselin Andreev</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Suspension designed by <a href="http://www.thenounproject.com/alexandr.cherkinsky">Alexandr Cherkinsky</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Piston designed by <a href="http://www.thenounproject.com/alexandr.cherkinsky">Alexandr Cherkinsky</a> from the <a href="http://www.thenounproject.com">Noun Project</a><br/>
    Speedometer designed by <a href="http://www.thenounproject.com/olivierguin">Olivier Guin</a> from the <a href="http://www.thenounproject.com">Noun Project</a>
  </div>
</div>
