%h1 We've all got a story to tell, what's yours?
%p FREE. Try it before registering right now
= render 'shared/mmy_selector'

%h2 All Flavors Welcome
%p This is not an elitist community. Classic restorations to dumpy rat rods, modern track machines and daily commuters, sportbikes and cruisers &mdash; there is a story to be told. 
