.hero
  .proportion-pad.width-100
    .abs.width-100.of-hidden.height-100
      .still-fallback.proportion-pad
      - unless browser.mobile?
        %video.video-bg.height-100( autoplay loop )
          %source{src: video_path('splash/homepage.mp4'), type: 'video/mp4'}
          %source{src: video_path('splash/homepage.webm'), type: 'video/webm'}
      .content.on-top.pad-top-20p
        %h1.txt-sha Begin your story
        .centered.text-center
          = mmy_selector true
