#hero.cf
  %h1 Automotive storytelling.<br/>Share your passion.
#main
  .row.landing
    %h2 Motorstori.es
    %p.pitch Your project has a new home. Upload photos, enter upgrades, inspire other builds.  
  .row.landing
    .large-4.columns.landing-section
      %h3 Car &amp; Motorcycle Friendly
      %p 
        Lowered sportscars, lifted trucks, custom choppers &amp; 
        tuned sportbikes are all welcome to play
  .row.landing
    .large-4.large-offset-8.columns.landing-section
      %h3 Photo Editor
      %p 
        We are all about telling stories through photographs; 
        full-featured photo editor included with every upload!
  .row.landing
    .large-4.columns.landing-section
      %h3 Free + Private
      %p
        We won't ask for credit card numbers &amp; 
        we won't sell your data to information harvesting firms, promise
  .row.landing
    .large-4.large-offset-8.columns.landing-section
      %h3 All Flavors of Mobile
      %p 
        No app downloads needed, just access the website 
        from any device and it will Just Work&trade;
  .row.landing
    .large-4.columns.landing-section
      %h3 Local Leaderboards
      %p 
        Get your story rated by peers and climb 
        the ladder in your local metro hub
  .row.landing
    .large-4.large-offset-8.columns.landing-section
      %h3 Photo Sharing
      %p 
        Stop using photo hosting services to awkwardly showcase 
        your project, this is all you'll need
