.wrapper.project.cf
  .content.project.cf
    %h1.project-header Create a new story

    .project-section.general.expanded
      %span.section-icon -
      %h3.section-title 
        General <span class="aside">(Date of purchase, type of project, etc.)</span>
      .section-controls
        %input{:type => "text", :placeholder => "name"}
        %input{:type => "text", :placeholder => "acquired at"}
        %input{:type => "text", :placeholder => "project type"}
        %select#test
          %option{:value => "Cars"} Cars
          %option{:value => "Momos"} Momos
    .project-section.suspension
      %span.section-icon +
      %h3.section-title Suspension
      .section-controls
        %input{:type => "text", :placeholder => "Spring rates"}
        %input{:type => "text", :placeholder => "Dampers"}
        %input{:type => "text", :placeholder => "Height diff"}
        %input{:type => "text", :placeholder => "Alignment"}
    .project-section.engine
      %span.section-icon +
      %h3.section-title 
        Engine <span class="aside">(Including exhaust, power mods)</span>
      .section-controls
        %input{:type => "text", :placeholder => "Exhaust modifications"}
        %input{:type => "text", :placeholder => "Intake"}
        %input{:type => "text", :placeholder => "Engine management"}
        %input{:type => "text", :placeholder => "Engine size"}
    .project-section.drivetrain
      %span.section-icon +
      %h3.section-title 
        Drivetrain <span class="aside">(Gear ratio, sprockets, final drive)</span>
      .section-controls
        %input{:type => "text", :placeholder => "Sprocket difference"}
        %input{:type => "text", :placeholder => "Chain pitch"}
        %input{:type => "text", :placeholder => "Transmission swap"}
        %input{:type => "text", :placeholder => "Differential swap"}
        %input{:type => "text", :placeholder => "Differential lock"}
    .project-section.exterior
      %span.section-icon +
      %h3.section-title Exterior
      .section-controls
        %input{:type => "text", :placeholder => "Crash cage"}
        %input{:type => "text", :placeholder => "Headlights"}
        %input{:type => "text", :placeholder => "Plastics"}
        %input{:type => "text", :placeholder => "Bumpers"}
        %input{:type => "text", :placeholder => "Spoilers"}    
        %input{:type => "text", :placeholder => "Hood"}
        %input{:type => "text", :placeholder => "Window tint"}
        %input{:type => "text", :placeholder => "Trunk"}
    .project-section.controls
      %span.section-icon +
      %h3.section-title 
        Controls <span class="aside">(Interior, levers, pedals, gauges)</span>
      .section-controls
        %input{:type => "text", :placeholder => "Levers"}
        %input{:type => "text", :placeholder => "Steering damper"}
        %input{:type => "text", :placeholder => "Gauges"}
        %input{:type => "text", :placeholder => "Rearsets"}
        %input{:type => "text", :placeholder => "Seat"}
        %input{:type => "text", :placeholder => "Rollcage/Rollbar"}
        %input{:type => "text", :placeholder => "Steering wheel"}
        %input{:type => "text", :placeholder => "Pedals"}
    .project-section.brakes
      %span.section-icon +
      %h3.section-title Brakes
      .section-controls
        %input{:type => "text", :placeholder => "Diameter front"}
        %input{:type => "text", :placeholder => "Diameter rear"}
        %input{:type => "text", :placeholder => "Front caliper"}
        %input{:type => "text", :placeholder => "Rear caliper"}   
        %input{:type => "text", :placeholder => "Front pads"}
        %input{:type => "text", :placeholder => "Rear pads"}
        %input{:type => "text", :placeholder => "Front brake lines"}
        %input{:type => "text", :placeholder => "Rear brake lines"}

    .project-section.wheels
      %span.section-icon +
      %h3.section-title 
        Wheels
      .section-controls
        %input{:type => "text", :placeholder => "Front wheel"}
        %input{:type => "text", :placeholder => "Front wheel diameter"}
        %input{:type => "text", :placeholder => "Front wheel width"}
        %input{:type => "text", :placeholder => "Front tire"}
        %input{:type => "text", :placeholder => "Front tire width"}
        %input{:type => "text", :placeholder => "Front tire profile"}

  .sidebar.project
    .content-sidebar
      .modifications
        %h2.mods Current modifications
        %figure.diagram
          = image_tag 'car-diagram/blueprint.png'
      %ul.sidebar-progress
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Suspension
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Engine
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Drivetrain
        %li.sidebar-progress-item.modified
          %a.progress-link{:href => "#"}
            Exterior
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Controls
        %li.sidebar-progress-item.modified
          %a.progress-link{:href => "#"}
            Brakes
        %li.sidebar-progress-item
          %a.progress-link{:href => "#"}
            Wheels


