- content_for :head do
  - if @vehicle.cover.present?
    :sass
      .poster
        background-image: url(#{@vehicle.cover})
        background-size: cover
      .tinter
        background-image: url(/assets/tinters/07.png)
  - else
    :sass
      .poster
        background-image: url(/assets/layout/poster-bg.png)
.show.project.poster
  .tinter
    .row
      .large-12.small-12.columns
        .head
          %h1.fit #{@vehicle.name}
          = vehicle_call_to_action @vehicle
    .row.owner-updates
      .large-4.small-12.columns
        = vehicle_owner @vehicle
      .large-8.small-12.columns
        %h3 Recent updates
