- content_for :head do
  - if @vehicle.poster.present?
    :sass
      .poster
        background-image: url(#{@vehicle.poster})
        background-size: cover
      .tinter
        background-image: url(/assets/tinters/07.png)
  - else
    :sass
      .poster
        background-image: url(/assets/layout/poster-bg.png)
.show.project.poster
  .tinter
    .row
      .12-large.12-small.columns
        %h1 #{@vehicle.name}
        - if stored_vehicle_ids.include? @vehicle.id
          %div.subhead Like what you see? Save your changes #{link_to "by registering", new_user_registration_path}. This project page won't be saved otherwise.
