- content_for :head do
  - if @vehicle.poster.present?
    :sass
      .poster
        background-image: url(#{@vehicle.poster})
        background-size: cover
      .tinter
        background-image: url(/assets/tinters/07.png)
  - else
    :sass
      .poster
        background-image: url(/assets/layout/poster-bg.png)
.show.project.poster
  .tinter
    .row
      .12-large.12-small.columns
        %h1 #{@vehicle.name}
        - if authorized_to_edit?
          - if current_user
            %div.subhead This is yours. #{link_to "Update the spec", edit_vehicle_path(@vehicle)}, maybe?
          - else
            %div.subhead Like what you see? Save your changes #{link_to "by registering", new_user_registration_path}. This project page won't be saved otherwise.
