.mmy-selector
  #make,#model,#year
    display: inline-block
    width: 75px
    margin: 8px 5px
    padding: 2px
    border: 1px solid #eee
    background: #ccc
    &[disabled]
      background: #222
      color: #aaa
      border-color: #555
  #mmy-submit
    top: 0

.input-append, .input-prepend
  position: relative
  display: inline-block

// Append text to the end of an input field (eg. units)
.input-append-thing, .input-prepend-thing
  position: absolute
  top: 0.4em
  display: inline-block
  padding: 0.1em
  z-index: 5
  //font-size: 0.8em

.input-prepend-thing
  left: 2%

.input-append-thing
  right: 2%

.input-help
  left: 0
  width: 12px
  
// tooltips
.tool-tip
  float: right
