.mmy-selector
  #make,#model,#year
    display: inline-block
    width: 100px
    margin: 10px 5px
  #mmy-submit
    top: 0

.input-append, .input-prepend
  position: relative
  display: inline-block

// Append text to the end of an input field (eg. units)
.input-append-thing, .input-prepend-thing
  position: absolute
  top: 22%
  display: inline-block
  padding: 0.1em
  z-index: 5
  font-size: 0.8em

.input-prepend-thing
  left: 2%

.input-append-thing
  right: 2%
