body.devise
  background: #222 url(/assets/tinters/02.png)
  padding: 75px 0 0 0
  .container
    padding-top: 50px
  label
    color: #e5e5e5
    font-size: 1.1em
  footer
    background: none
    margin-top: 4em
    border: none
  #error_explanation
    color: #fff
    h2
      color: #fff
      font-size: 1.4em
    ul
      margin-left: 1.5em
  .field_with_errors
    label
      color: #d00
.registration,.session
  background: none
  color: #fff
  h1, h2, p
    color: #fff
    text-align: center
  h1
    margin-bottom: 1em
  .form-actions
    text-align: center
  i
    color: #999
    margin: -0.5em 0 1.25em 0
    display: block
.devise-links
  a
    display: block
    text-align: center
