body.devise
  background: #222
  padding: 100px 0 0 0
  .new
    background: #222
  label
    color: #e5e5e5
    font-size: 1.1em
  footer
    margin-top: 4em
    border: none
.registration,.session
  .form-actions
    text-align: center
.devise-links
  a
    display: block
    text-align: center

