.feature
  margin: 0 auto 35px auto
  display: block
  width: 40%
.devices
  margin-top: 8px
.landing-section
  h2
    font-size: 1.4em
    font-family: 'Donegal One'
    text-align: center
.overlay
  background: rgba(0,0,0,0.2)
  color: white
  font-family: 'Donegal One'
  text-transform: uppercase
  text-align: center
  position: absolute
  height: 50%
  width: 100%
  padding-top: 8px
  bottom: -40%
#hero
  background: url('/assets/landing/vette.jpg')
  background-size: cover
  background-position: center center
  border-bottom: 2px solid #fff
  padding: 10em 0
  h1
    font-family: 'Donegal One'
    text-align: center
    font-size: 4em
    color: #fff
    text-shadow: 1px 1px 15px rgba(0,0,0,1), 0 0 5px rgba(0,0,0,1)
    font-weight: normal
.main
  padding: 4em 0
  background: white
  @include box-shadow(rgba(50,50,50,0.3) 0 0 10px)
