// landing
.hero-img
  width: 25%
  float: left
  height: 100%
  position: relative
  cursor: pointer
  overflow: hidden
.landing-section

  h1
    font-family: 'Donegal One'
    text-align: center
    border-bottom: 3px solid black
    margin: 30px 0
    text-transform: uppercase
  h3
    font-family: 'Donegal One'
    text-align: center
    border-bottom: 1px solid black
    text-transform: uppercase
.overlay
  background: rgba(0,0,0,0.2)
  color: white
  font-family: 'Donegal One'
  text-transform: uppercase
  text-align: center
  position: absolute
  height: 50%
  width: 100%
  padding-top: 8px
  bottom: -40%
#hero
  position: relative
#main
  max-width: 80em
  margin: 0 auto
  background: white
  @include box-shadow(rgba(50,50,50,0.3) 0 0 10px)

