.top-bar
  .name
    font-size: 2em
    a
      @include fancy-font
      color: #2ba6cb !important
      b
        color: #fff
        font-weight: normal
#hero
  background: url('http://fcp-promotions.s3.amazonaws.com/euro/18.jpg')
  height: 25em
  background-size: cover
  background-position: center center
  -webkit-box-shadow: $hero-box-shadow
  box-shadow: $hero-box-shadow
