@import "compass/css3/box-shadow"

$off_black: #27282F
$blue: #63BBF2
$light_blue: #99D9F2
$cream: #EBFFF8
$green: #5DDE78

.logo
  padding: 1rem
  display: block
  font-size: 2rem

.flash
  position: absolute
  width: 100%
  padding: 10px 0
  opacity: 0.9
