#logo
  font: 0/0 a
  color: transparent
  background: asset-data-url('layout/logo.png') no-repeat center center
  height: 70px
  width: 196px
  padding: 10px 0
  display: block
  position: absolute
  z-index: 50
#hero
  background: url('http://fcp-promotions.s3.amazonaws.com/euro/18.jpg')
  height: 25em
  background-size: cover
  background-position: center center
  -webkit-box-shadow: $hero-box-shadow
  box-shadow: $hero-box-shadow
