.hero
  min-height: 30rem
  margin-top: -4rem
  position: relative
  overflow: hidden

.video-bg
  object-fit: cover
.video-bg,
.still-fallback
  height: 30rem
  position: absolute
  width: 100%
.hero
  color: white
.still-fallback
  background: url('static/vette.jpg')
  background-size: cover
  background-position: center center

.static-index
  h1
    color: white
    text-align: center
  .line
    fill: rgba(255,255,255,0.9)
  .logo
    background: rgba(0,0,0,0.3)
    &:hover
      background: rgba(0,0,0,0.6)
