.hero
  padding: 5rem 1rem 1rem 1rem
  background: url('static/vette.jpg')
  background-size: cover
  background-position: center center
  color: white

.static-index
  h1
    color: white
    text-align: center
  .line
    fill: rgba(255,255,255,0.9)
  .logo
    background: rgba(0,0,0,0.3)
    &:hover
      background: rgba(0,0,0,0.6)
