@import "compass/css3/text-shadow"

.centered
  display: block
  margin-left: auto
  margin-right: auto

.tint
  background: rgba(0,0,0,0.3)

.photo-tint
  background: rgba(0,0,0,0.35)
  @media #{$large-up}
    background: url(/assets/tinters/07.png)

.on-top
  position: relative
  z-index: 1000

.txt-sha
  @include text-shadow(0 0 10px rgba(0,0,0,0.7))

@mixin transition($l)
  -webkit-transition: all $l ease-in-out
  -moz-transition: all $l ease-in-out
  -o-transition: all $l ease-in-out
  -ms-transition: all $l ease-in-out
  transition: all $l ease-in-out
