// general layout
.wrapper
  background: darken(white, 50%)

.content.project
  background: white
  float: left
  width: 70%
  padding: 20px 40px 100px 20px

.sidebar.project
  float: left
  width: 30%
  background: darken(white, 5%)
  border-left: 1px solid darken(white, 50%)

.content-sidebar
  width: 90%
  height: 100%
  margin: 0 auto
  position: relative
  padding-top: 20px
  overflow-y: auto

// main content styling
.project-header
  border-bottom: 3px solid black
  text-transform: uppercase

.project-section
  width: 100%
  padding: 10px
  border: 1px solid darken(white, 50%)
  margin-bottom: 20px
  @include border-radius(5px)
  position: relative
  @include opacity(0.5)
  @include transition-property(opacity)
  @include transition-duration(0.15s)
  height: 40px
  overflow: hidden
  &.expanded
    @include opacity(1)
    @include transition-property(opacity)
    @include transition-duration(0.15s)
    height: auto

  input
    display: block

.section-icon
  font-family: 'validation'
  position: absolute
  left: 10px
  top: 13px
  font-size: emCalc(12px)
  color: lighten(black, 40%)
  cursor: pointer

.section-title, .section-icon
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.section-title
  margin: 0 0 20px 20px
  line-height: 1em
  cursor: pointer

.aside
  @include opacity(0.5)

// input styling
.section-controls
  .half
    width: 46%
    padding-left: 2%
    float: left
    @include respond-to('zurb-default')
      width: 100%
  .space
    margin-right: 2%
    @include respond-to('zurb-default')
      margin-right: 0

// sidebar styling
.modifications
  text-align: center

.mods
  border-bottom: 2px solid black

.sidebar-progress
  list-style-type: none

.sidebar-progress-item
  cursor: pointer

.modified
  background: yellow

.progress-link
  color: black
  &:hover
    color: black

