.new-project
  background: white
  padding: 3em 0 0 0
  h1
    text-align: center
    border-bottom: 1px solid #ccc
    margin-bottom: 0
  .progress
    margin-bottom: 2em

.section-controls
  display: none
  label,
  .dropdown
    display: inline-block !important

.expanded
  .section-controls
    display: block

.progress-headings
  .done
    text-decoration: line-through
