.project
  .progress
    margin-bottom: 2em
  &.show
    color: #fff
    padding: 0
    h1
      font-size: 4em
      color: #fff
      text-shadow: 0 0 5px rgb(0,0,0), 0 0 20px rgb(0,0,0)
      border: none
    h2,h3
      color: #fff
.head
  text-align: center
.subhead
  display: inline-block
  background: rgba(0,0,0,0.5)
  padding: 5px
  border-radius: 4px
.poster
  background-position: center center
.section-controls
  display: none
  label,
  .dropdown
    display: inline-block !important

.expanded
  .section-controls
    display: block

.progress-headings
  .done
    text-decoration: line-through

@media #{$small}
  .owner-updates
    margin-top: 20em
